.profile__subname {
  padding-top: 14px;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 300px;
}

@media screen and (min-width: 319px) and (max-width: 690px){
  .profile__subname {
    padding: 14px 0px 36px;
    font-size: 14px;
    line-height: 17px;
    max-width: 200px;
  }
}