.profile {
  padding-top: 40px;
  max-width: 880px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

@media screen and (min-width: 319px) and (max-width: 690px){
  .profile{
    padding-top: 38px;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}